@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}
#home{
    background-image: linear-gradient(to left bottom, #870000, #970016, #a70028, #b5003b, #c2004f, #c40060, #c20072, #be0085, #a90e96, #8c20a6, #642fb4, #003abe);
}
.container-1{
    text-align: center;
}
.container-1 h1{
    color: whitesmoke;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(to right top, #232223, #272029, #281e31, #261c3a, #201c44, #1f2855, #183467, #004179, #005d90, #007692, #008d80, #00a161); */
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position: relative;
    max-width: 200px;
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    list-style: none;
}
header ul li a{
    display: inline-block;
    color: #333;
    font-weight: 400px;
    margin-left:  40px;
    text-decoration: none;
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
.content .textBox{
    position: relative;
    max-width: 600px;
}
.content .textBox h2{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}
.content .textBox h2 span{
    color: #003abe;
    font-size: 1.2em;
    font-weight: 900;
}
.content .textBox p{
    color: #333;
}
.content .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.content .imgBox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
    
}
.leo{
    max-width: 340px;
}
.thumb{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%);
    display: flex;
}
.thumb li img{
    max-width: 60px;
}
.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.thumb li:hover{
    transform: translateY(-15px);
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: blue;
    clip-path: circle(600px at right 800px);
}
#Myfav{
    background-image: linear-gradient(to right top, #232223, #272029, #281e31, #261c3a, #201c44, #1f2855, #183467, #004179, #005d90, #007692, #008d80, #00a161);
    align-items: center;
    justify-content: center;
    text-align: center;
}
#Why{
    display: flex;
    flex-direction: column;
    background: #636e72;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}